body{
    font-family:  'Comic Sans MS', 'Comic Sans', cursive, Arial, Helvetica, sans-serif;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

button:hover {
    background-color: grey;
}

img {
    display: block;
    margin: 20px auto;
}

title {
    font-size: large;
}

